<div class="as-events-calendar">
  <div class="as-events-calendar__header">
    <button type="button" class="btn btn-default btn-sm as-events-calendar__btn" (click)="shiftToPreviousMonth()" tabindex="-1">
      <i class="fa fa-arrow-left"></i>
    </button>

    <h3 class="as-events-calendar__header-text">Event Calendar<br><span class="as-events-calendar__month" [innerHTML]="getHeaderText()"></span></h3>

    <button type="button" class="btn btn-default btn-sm as-events-calendar__btn" (click)="shiftToNextMonth()" tabindex="-1">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

  <div class="as-events-calendar__days">
    <div class="as-events-calendar__day-name">Sun</div>
    <div class="as-events-calendar__day-name">Mon</div>
    <div class="as-events-calendar__day-name">Tue</div>
    <div class="as-events-calendar__day-name">Wed</div>
    <div class="as-events-calendar__day-name">Thu</div>
    <div class="as-events-calendar__day-name">Fri</div>
    <div class="as-events-calendar__day-name">Sat</div>
  </div>

  <div class="as-events-calendar__week" *ngFor="let week of currentMonthData">
    <div class="as-events-calendar__day" *ngFor="let day of week">

      <!--day not in month-->
      <div *ngIf="!day.date"></div>

      <!--day in month without event-->
      <div *ngIf="day.date && !day.hasEvents">
        <span>{{day.date}}</span>
      </div>

      <!--day with event if there's an event-->
      <div *ngIf="day.hasEvents" class="as-events-calendar__day-event">
        <span *ngFor="let event of day.events, let idx = index">
          <span [routerLink]="['/events', event.id]" title="{{event.title | ellipsis: 30}}">
            <i class="fa fa-calendar-check-o"></i>
          </span>
        </span>
      </div>

    </div>
  </div>
</div>