/*@content-background-color: #ae996b;*/
/*@text-secondary: #316291;*/
/*@tan-light: #ece7dc;*/
/*@tan-dark: #d2c7af;*/

.as-calendar {
  min-height:290px;
  margin: 0px auto;
  width: 77%
}

.as-calendar h4, i:before{
  color: #316291;
}

.as-calendar td {
  display: inline-block;
  width: 120px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  color: #8c7446;
  margin: 1px;
}

.as-calendar .day-name {
  color: #020202;
}

.as-calendar .day-on {
  background-color: #ece7dc;
}

.as-calendar .day-off {
  width: 120px;
  height: 110px;
  background-color: #d2c7af;
}

.as-calendar .day-event {
  background-color: #316291;
}