@import (reference) "../../../../less/as-webapp";

@inputMarginTop: 20px;

.view {
  margin: @inputMarginTop 0;
  color: white;

  label, input[type="submit"] {
    display: block;
  }

  input, textarea{
    color: @black;
  }

  input[type="text"], textarea{
    width: 200px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    margin: @inputMarginTop 0;
  }

  button {
    color: @black;
  }
}

.modal-title{
  color: red;
}

.modal-body{
  color: #000;
}