<div class="container-flex as-view-album-details">
  <div class="row">

    <div class="col-xs-4 hidden-sm-down">
      <as-social-share></as-social-share>
    </div>

    <div class="col-xs-6">

      <div class="card-row hidden-sm-down">
        <a class="download-url as-link" *ngIf="getAlbumDetails().downloadUrl" [href]="getAlbumDetails().downloadUrl">Download Link</a>
        <as-card [cardOptions]="getModeledAlbumForCard()"></as-card>
      </div>

      <div class="card-row hidden-md-up">
        <h4>{{ getAlbumDetails().title }}</h4>
        <img [src]="getAlbumDetails().imageUrl" [alt]="getAlbumDetails().title"/>
        <p [innerHTML]="getAlbumDetails().description"></p>
      </div>

    </div>

  </div>
</div>