@import (reference ) '../../components/bootstrap/bootstrap';

.as-view-albums {

  color: @black;

}

.as-view-album-details {

  .download-url {
    padding-left: 20px;
  }

  img {
    max-width: @img-width-mobile;
  }

}