<section class="col-xs-12">

  <div class="albums-view">

    <div class="col-xs-4">
      <p>Quick Links</p>
    </div>

    <div class="col-xs-8">

      <div *ngFor="let album of getAlbums()" class="media album-row" (click)="onAlbumSelected(album)">

        <div class="media-left">
          <img class="media-object" [src]="album.imageUrl" alt="{{album.title}}">
        </div>

        <div class="media-body">
          <h4 class="media-heading" (click)="onAlbumSelected(album)">{{album.title}}</h4>
          <p [innerHTML]="album.description"></p>
        </div>

      </div>

    </div>

  </div>

</section>