.albums-view {

  .album-row {
    padding-bottom: 10px;
  }

  h4 {
    text-decoration: underline;
    cursor: pointer;
  }

  img {
    width: 200px;
    cursor: pointer;
  }

}

.album-details {

  img {
    float: left;
    padding-right: 5px;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
  }

}