<div class="container-flex as-view-albums">
  <div class="row">

    <div class="col-xs-3 hidden-sm-down">

      <p>Quick Links</p>

      <select (change)="onAlbumSelected($event.target.selectedIndex)">
        <option *ngFor="let album of getAlbums()" value="album.id">{{album.title | ellipsis: 15}}</option>
      </select>

    </div>

    <div class="col-xs-7">

      <div *ngFor="let album of getAlbums()">
        <as-card [cardOptions]="getModeledAlbumForCard(album)"></as-card>
      </div>

    </div>

  </div>
</div>