    <section id="{{page.id}}" data-ng-controller="{{page.ctrl}}">

      <!-- Welcome/Social Header -->
      <div class="container">
        <div class="row">

          <div class="col-md-1">
          </div>

          <div class="col-md-8">
            <h5 id="header-text">[[HomeCtrl.welcomeText]]</h5>
            <p>This is the home page</p>
          </div>

          <div class="col-md-3">
            <div data-social-badges></div>
          </div>

        </div>
      </div>

    </section>
