<div class="as-social-share row">

  <!-- Facebook -->
  <div class="col-xs-4">
    <div class="fb-share-button" data-href="http://www.analogstudios.net/" data-layout="box_count"></div>
  </div>

  <!-- Twitter -->
  <div class="col-xs-4">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.analogstudios.net" data-via="analogstudios" data-size="large" data-hashtags="keepitreel"></a>
  </div>

  <!-- Google+ -->
  <div class="col-xs-4">
    <div class="pad-google-left">
      <div class="g-plusone" data-size="medium" data-href="http://analogstudios.net"></div>
    </div>
  </div>

</div>