<div class="as-social-share row">

  <button class="btn btn-medium center-content radius3 bg-white"
          socialshare=""
          socialshare-provider="facebook"
          socialshare-url="http://analogstudios.net">
    <i class="fa fa-facebook"></i> Facebook
  </button>

  <button class="btn btn-medium center-content radius3 bg-white"
          socialshare=""
          socialshare-provider="twitter"
          socialshare-text="Check this out!"
          socialshare-url="http://analogstudios.net"
          socialshare-hashtags="keepitreel">
    <i class="fa fa-twitter"></i> Twitter
  </button>

  <button class="btn btn-medium center-content radius3 bg-white"
          socialshare=""
          socialshare-provider="google+"
          socialshare-url="http://analogstudios.net">
    <i class="fa fa-google-plus"></i>  Google +
  </button>

</div>