@import "../../bower_components/bootstrap/less/bootstrap";

//variables
@white: #ffffff;
@black: #000000;
@primary: #6d0202;
@bg-primary: #c2b08b;
@bg-secondary: #ae996b;
@bg-tertiary: #d3c6ae;

body{
  background-color: @bg-secondary;
  color: @white;
}

a{
  color: @white;
}

.page-container{
  margin: 0 auto;
  min-height: 500px;
  background-color: @bg-primary;
  //background-image: url("/assets/images/container-repeater.jpg");
  //opacity: 0.6;
}