@import '../../components/bootstrap/bootstrap';

.as-view-artists {

  color: $black;

  .artist-cards-list {
    margin-top: 40px;
  }

}

.as-view-artist-details {

  img {
    max-width: $img-width-mobile;
  }

}