<section class="col-xs-12">

  <div class="artists-view">

    <div class="col-xs-4">

      <p>Quick Links</p>

      <select (change)="onArtistSelected($event.target.selectedIndex)">
        <option *ngFor="let artist of getArtists()" value="artist.id">{{artist.name}}</option>
      </select>

    </div>

    <div class="col-xs-8">

      <div *ngFor="let artist of getArtists()" class="media artist-row" (click)="onArtistClicked(artist)">

        <div class="media-left">
          <img class="media-object" [src]="artist.imageUrl" alt="{{artist.name}}">
        </div>

        <div class="media-body">
          <h4 class="media-heading" (click)="onArtistClicked(artist)">{{artist.name}}</h4>
          <p [innerHTML]="artist.bio"></p>
        </div>

      </div>

    </div>

  </div>

</section>