.as-view-artists, .as-view-artist-details {

  .artist-row {
    padding-bottom: 10px;
  }

  h4 {
    text-decoration: underline;
    cursor: pointer;
  }

  img {
    width: 200px;
    cursor: pointer;
  }

}