<div class="container">
  <div class="row">

    <!-- TODO style and make response https://thegreenhouse.atlassian.net/browse/AS-39 -->
    <h2 class="header">Interact + Share</h2>

    <a class="btn btn-social-icon btn-facebook">
      <button ceiboShare  [facebook]="{u: getCurrentPageUrl()}"></button>
      <span class="fa fa-facebook"></span>
    </a>

    <a class="btn btn-social-icon btn-twitter">
      <button ceiboShare  [twitter]="{url: getCurrentPageUrl(), hashtags:'keepingitreel'}"></button>
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-google">
      <button ceiboShare  [googlePlus]="{url: getCurrentPageUrl()}"></button>
      <span class="fa fa-google"></span>
    </a>

  </div>
</div>