@import "../../components/bootstrap/bootstrap";

.as-social-share {

  .header {
    margin: 0;
    text-decoration: underline;
    color: $font-color-secondary;
  }

  a {
    display: inline-block;
  }

  span {
    font-size: 2.4em;
  }

  button {
    color: transparent;
    border: none;
    background: none;
  }
}