@import "../../components/bootstrap/bootstrap";
@import "../../../node_modules/bootstrap-social/bootstrap-social.css";

.as-social-share {

  .header {
    margin: 0 0 5px;
    text-decoration: underline;
    color: $font-color-secondary;
  }

  a {
    display: inline-block;
  }

  span {
    font-size: 2.4em;
  }

  button {
    color: transparent;
    border: none;
    background: none;
  }
}