<div class="col-xs-12 as-view-home">

  <h2 class="welcome-text">Welcome to Analog Studios</h2>

  <p>Welcome to the up and coming new version of the Analog Studios website.  We have a lot of plans in-store and a lot
  of great features for sharing music and representing artists.  Over the next couple of months, we'll be gradually
  updating the site with more and more content and interactions.  Please keep in touch with us through social media by
  clicking our links.</p>

  <p>Thanks, and looking forward to what's to come!</p>

</div>