<section class="container as-view-admin-manage-events">
  <div class="row">

    <div class="col-xs-9">

      <form [formGroup]="eventForm">
        <label for="select-event">Select an event to update it:</label>

        <br/>

        <select id="select-event" (change)="onEventSelected($event.target.selectedIndex)">
          <option *ngFor="let event of getEvents()" value="event.id">{{event.title}}</option>
        </select>

        <br/>
        <br/>

        <label for="title">Title:</label>
        <input id="title" name="title" [formControl]="eventForm.controls['title']" type="text" placeholder="Event Title" required/>

        <label for="description">Description:</label>
        <ckeditor
          id="description"
          name="description"
          placeholder="Event Description"
          [formControl]="eventForm.controls['description']"
          debounce="500">
        </ckeditor>

        <br/>
        <br/>

        <label for="startTime">Date / Time:</label>
        <input id="startTime" name="startTime" [formControl]="eventForm.controls['startTime']" type="datetime-local" required>

        <br/>
        <br/>

        <button class="btn" (click)="submitForm()" type="submit">Submit</button>
        <button class="btn" type="reset">Reset</button>

      </form>

    </div>

  </div>
</section>