<section class="row as-footer">

    <div class="col-md-4 copyright-text">
        <p>&copy; 2007 - {{year}} Analog Studios</p>
    </div>

    <div class="col-md-3"></div>

    <div class="col-md-4">
        <footer>
            <ul class="nav-justified">
                <li><a href="#">the studio</a></li>
                <li><a href="#">artists</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">media</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </footer>
    </div>
    <div class="col-md-1"></div>
</section>