@import "../../components/bootstrap/bootstrap";

.as-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 70px 0;

  .as-header__logo {
    flex-grow: 1;
    margin: 0;
    cursor: pointer;
  }

  .as-header__view-banner {
    height: 100px;
    width: 100px;
    background: url("../bootstrap/images/view-banner.png");
  }
}