@tertiary-font-color: #316291;

.event-details-section{
  .event-details-container{
  }

  .interact-and-share{
    border: 2px solid black;
  }

  .event-image {
    img {
      width: 100%;
    }
  }

  .event-details{

    .event-title{
      color: @tertiary-font-color;
      font-size: 30px;
      margin: 0 0 15px 0;
    }

    .event-date-time{
    }

    .event-location{
    }

    .event-description{
      font-size: 15px;
      margin: 15px 0 35px 0;
    }
  }
}