<div class="container as-view-contact" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="col-xs-12">
      <h2 class="header">Contact Us</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="row col-xs-10">
      <p>Analog Studios is located in Newport RI and run by Owen Buckley and Dave Flamand.  You can call us at
        (401)-608-3021 or use the contact form below to send us a message!</p>

      <p [class.show]="hasMessageBeenSent()" class="step feedback-message">
        <span *ngIf="hasMessageBeenSent() && wasMessageSuccessful()" class="text-success">Thank you for your message!</span>
        <span *ngIf="hasMessageBeenSent() && !wasMessageSuccessful()" class="text-danger">Sorry, there was a problem.
          Please try again or give us a call instead!</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="row col-xs-10">

      <form (ngSubmit)="contact()" [formGroup]="contactForm">

        <label for="subject">Subject</label>
        <br/>
        <input id="subject" name="subject" [formControl]="contactForm.controls['subject']" type="text" required/>

        <br/>
        <br/>

        <label for="message">Message:</label>
        <br/>
        <textarea id="message" name="message" [formControl]="contactForm.controls['message']" required></textarea>

        <br/>

        <button class="btn" type="submit">Submit</button>

      </form>

    </div>
  </div>

</div>