<div class="row">
  <div class="col-xs-12 event-details-section">

    <!--Event Details Container-->
    <div class="event-details-container">
      <div class="col-xs-4">
        <i class="fa fa-calendar-o cal-icon"></i>
      </div>

      <div class="col-xs-8 event-details">
        <div ng-show="vm.event">
          <p>Event Title: {{vm.event.title}}</p>
          <p>Event Info:</p>
          <p ng-bind-html="vm.event.description"></p>
          <p>Event Date: {{ (vm.event.startTime * 1000) | date : short }}
        </div>
      </div>
    </div>

  </div>
</div>