    <footer>
      <div class="row">
        <div class="container">

          <div class="col-md-8">
          </div>
          <div class="col-md-3">
            <p>&copy; Analog Studios
              <span class="spacer"></span>|<span class="spacer"></span><a href="/contact/">contact me</a>
            </p>
          </div>
          <div class="col-md-1">
          </div>

        </div>
      </div>
    </footer>