<header>
  <div class="row">
    <div class="container">

      <div class="col-md-1">
        <span></span>
      </div>

      <div class="col-md-4">
        <a href="/"><img id="logo" src="/assets/images/transbox.png" alt="1000BC logo"/></a>
      </div>

      <div class="col-md-6">
        <nav>
          <ul id="main">
            <li><a class="link" href="/home/">Home</a></li>
            <li><a class="link" href="/products/">Products</a></li>
            <li><a class="link" href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-1">
      </div>
    </div>
  </div>
</header>