@import '../../components/bootstrap/bootstrap';

.as-view-admin {
  color: $black;

  .link {
    cursor: pointer;
  }

  label {
    display: block;
  }

  input, textarea, input[type="datetime"], select {
    color: $black;
  }

  input[type="text"], input[type="password"], textarea {
    width: 200px;
    margin-bottom: 20px;
  }

  button {
    color: $black;
  }
}