<div class="container as-view-admin">
  <div class="row">

    <div class="col-xs-3">
      <div *ngIf="getIsAuthenticated()">

        <nav>
          <ul>
            <li><span class="link" [routerLink]="['albums']">Manage Albums</span></li>
            <li><span class="link" [routerLink]="['artists']">Manage Artists</span></li>
            <li><span class="link" [routerLink]="['events']">Manage Events</span></li>
            <li><span class="link" [routerLink]="['posts']">Manage Posts</span></li>
            <li><span class="link" (click)="logout()">Logout</span></li>
          </ul>
        </nav>

      </div>

    </div>

    <div class="col-xs-9">

      <div *ngIf="!getIsAuthenticated()">

        <form (ngSubmit)="login()" [formGroup]="loginForm">

          <label for="username">Username:</label>
          <input id="username" name="username" [formControl]="loginForm.controls['username']" type="text" required/>

          <label for="password">Password:</label>
          <input id="password" name="password" [formControl]="loginForm.controls['password']" type="password" required/>

          <br/>

          <button class="btn" type="submit">Submit</button>

        </form>

      </div>

      <div *ngIf="getIsAuthenticated()">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</div>