<header class="as-header">

  <div class="row">

    <img class="visible-xs-inline-block" ui-sref="home" src="/assets/images/old-banner-mobile.jpg"/>

    <img class="hidden-xs" ui-sref="home" src="/assets/images/old-banner.jpg"/>

  </div>

  <!--social media badges-->
  <!--header menu-->
  <!--<div class="col-xs-8 header-title">-->
  <!--<h1 class="studio-name" </h1>-->
  <!--</div>-->

  <!--<div class="col-md-7 header-menu">-->
  <!--<as-navigation></as-navigation>-->
  <!--</div>-->

  <!--<div class="col-xs-3 social-media-badges">-->
  <!--<a class="btn btn-social-icon btn-youtube social-buttons">-->
  <!--<i class="fa fa-youtube-square"></i>-->
  <!--</a>-->

  <!--<a class="btn btn-social-icon btn-facebook social-buttons">-->
  <!--<i class="fa fa-facebook-square"></i>-->
  <!--</a>-->

  <!--<a class="btn btn-social-icon btn-twitter social-buttons">-->
  <!--<i class="fa fa-twitter-square"></i>-->
  <!--</a>-->

  <!--<div class="live-feeds"><a>LIVE FEEDS</a></div>-->
  <!--</div>-->
</header>