<section class="col-xs-12">

  <div class="event-details">

    <div class="col-xs-4">
        <as-social-share></as-social-share>
    </div>

    <div class="col-xs-8 event-details">
      <div class="row">

        <div class="col-xs-2">
          <i class="glyphicon glyphicon-calendar cal-icon"></i>
        </div>

        <div class="col-xs-10">
          <div *ngIf="getEventDetails()">
            <p>Event Title: {{ getEventDetails().title }}</p>
            <p>Event Date: {{ (getEventDetails().startTime * 1000) | date : 'EEEE, MMMM d, yyyy, h:mm a' }}</p>
            <p>Event Info:</p>
            <p [innerHTML]="getEventDetails().description"></p>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>