<section class="as-header">

  <!--social media badges-->
  <div class="row header-social-media">

    <div class="col-md-7"></div>

    <div class="col-md-3 social-media-badges">
      <a class="btn btn-social-icon btn-xs btn-youtube social-buttons">
        <i class="fa fa-youtube-square"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-facebook social-buttons">
        <i class="fa fa-facebook-square"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-twitter social-buttons">
        <i class="fa fa-twitter-square"></i>
      </a>

      <div class="live-feeds"><a>LIVE FEEDS</a></div>
    </div>

  </div>

  <!--header menu-->
  <div class="row header-title-menu-wrapper">
    <div class="col-md-4 header-title">
      <div class="studio-name" ui-sref="home">Analog Studios</div>
    </div>

    <div class="col-md-7 header-menu">
      <nav>
        <ul class="nav-justified">
          <li class="first"><a ui-sref="studio" class="nav-link">the studio</a></li>
          <li><a ui-sref="studio" class="nav-link">artists</a></li>
          <li><a ui-sref="events-view" class="nav-link">events</a></li>
          <li><a ui-sref="media" class="nav-link">media</a></li>
          <li><a ui-sref="contact" class="nav-link">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

</section>