@import (reference) "../../less/as-webapp";

.as-social-badges {
  overflow: hidden;
  background-color: @bg-primary;
  border-radius: 3px;

  .badge {
    display: inline-block;
    overflow: hidden;
    margin-right: 15px;
    height: 100px;
    width: 70px;
    background-color: transparent;
  }

}
