<div class="as-view-home">
  <div class="row">
    <div class="col-xs-12">

      <div class="as-media-carousel">
        <img src="https://unsplash.it/g/1200/400?image=1082" class="img-fluid as-media-carousel__img">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="as-welcome text-center">
        <h2 class="as-welcome__heading">Welcome to Analog Studios</h2>

        <div class="as-welcome__body">
          <p>Welcome to the up and coming, new version of the Analog Studios website.  We have a
            lot of plans in store and a lot of great features for sharing music and representing artists.  Over the next
            couple of months, we'll be gradually updating the site with more and more content and features.  Checkout our latest posts
            and upcoming events, below.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <as-posts-list></as-posts-list>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <as-events-calendar></as-events-calendar>

    </div>
  </div>
</div>
