<section class="as-view-home row">

  <div class="row">
    <div class="col-xs-10">

      <h2 class="welcome-text-heading">Welcome to Analog Studios</h2>

      <p class="welcome-text-body">Welcome to the up and coming new version of the Analog Studios website.  We have a
        lot of plans in-store and a lot of great features for sharing music and representing artists.  Over the next
        couple of months, we'll be gradually updating the site with more and more content and interactions.  Please
        keep in touch with us through social media by clicking our links.</p>

      <p>Checkout our latest posts and upcoming events, below!</p>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="posts-container">
        <as-posts></as-posts>
      </div>

      <div class="calendar-container">
        <as-events-calendar></as-events-calendar>
      </div>

    </div>
  </div>

</section>
