<section class="row as-footer">

  <div class="col-md-4 copyright-text">
    <p>&copy; 2007 - {{::year}} Analog Studios</p>
  </div>

  <div class="col-md-3"></div>

  <div class="col-md-4">
    <footer>
      <ul class="nav-justified">
        <li><a ui-sref="home">the studio</a></li>
        <li><a ui-sref="products">artists</a></li>
        <li><a ui-sref="events-view">events</a></li>
        <li><a ui-sref="media">media</a></li>
        <li><a ui-sref="contact">contact</a></li>
      </ul>
    </footer>
  </div>
  <div class="col-md-1"></div>
</section>