<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Analog Studios: Music and Recordings</title>

    <meta charset="utf-8">
    <meta name="description" content="Analog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="icon" type="image/png" href="favicon.png">

    <script src="./jspm_packages/system.js"></script>
    <script src="./config.js"></script>
    <script>
      System.import('./bootstrap.js');
    </script>

  </head>

  <body>
    <p>Hello World</p>
  </body>

</html>