<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Analog Studios: Music and Recordings</title>

    <meta charset="utf-8">
    <meta name="description" content="One Platform"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>

  <body ng-app="as.bootstrap" ng-cloak ng-strict-di="true">

    <div class="container">
      <div class="col-md-12">

        <as-header></as-header>

        <div ui-view></div>

        <as-footer></as-footer>

      </div>
    </div>

    <!-- bower:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->

  </body>

</html>