.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

/***********************/
/* Events Styling */
/***********************/

@tertiary-font-color: #316291;
@content-background-color: #ae996b;

//calendar main wrapper
.calendar-section {
  //display: none;

  padding-right: 35px;
  padding-left: 35px;

  .calendar {
  }

  .calendar {
    .header {
      color: @tertiary-font-color;
      font-size: 21px;
    }
  }

  //calendar days and weeks
  .calendar {

    .day-name,
    .day-on,
    .day-off{
      border: 3px solid @content-background-color;
    }

    .day-name{
      width: 110px;
      text-align: right;
    }

    .day-on,
    .day-off{
      width: 120px;
      height: 110px;
      span { // we also want to avoid targeting elements in the less
        color: #8c7446;
        float: right;
        //margin: 0 0 80px 0;
        padding: 0 5px 0 0;
      }

      //!need to give day number its own class, rather than targeting ng-binding
      /*.ng-binding{
        color: #8c7446;
        float: right;
        margin: 0 0 80px 0;
        padding: 0 5px 0 0;
      }*/

      .event{
        span {//
          font-size: 11px;
          position: relative;
          top: -25px;
          left: 0px;
          width: 85px;
        }
      }
    }

    .day-on{
      background-color: #ece7dc;
    }

    .day-off{
      background-color: #d2c7af;
    }

  }

}

.event-details-section{
  .event-details-container{
  }

  .interact-and-share{
    border: 2px solid black;
  }

  .event-image {
    img {
      width: 100%;
    }
  }

  .event-details{

    .event-title{
      color: @tertiary-font-color;
      font-size: 30px;
      margin: 0 0 15px 0;
    }

    .event-date-time{
    }

    .event-location{
    }

    .event-description{
      font-size: 15px;
      margin: 15px 0 35px 0;
    }
  }
}

/***********************/
/* END Events Styling */
/***********************/
