    <section id="{{page.id}}" data-ng-controller="AdminCtrl">

      <!-- Welcome/Social Header -->
      <div class="container">
        <div class="row">

          <div class="col-md-1">
          </div>

          <div class="col-md-8">
            <p>This is the Admin page</p>
          </div>

          <div class="col-md-3">
            <div data-social-badges></div>
          </div>

        </div>
      </div>

    </section>
