<section class="row view">

  <div class="col-md-3">
    <div data-ng-show="view.isAuthenticated">

      <ul>
        <li><span class="link" ui-sref="admin.events">Events</span></li>
        <li><span class="link" data-ng-click="view.logout()">Logout</span></li>
      </ul>

    </div>

  </div>

  <div class="col-md-9">

    <div data-ng-hide="view.isAuthenticated">

      <form data-ng-submit="view.login()">

        <label for="username">Username:</label>
        <input id="username" data-ng-model="view.credentials.username" type="text" required/>

        <label for="password">Password:</label>
        <input id="password" data-ng-model="view.credentials.password" type="password" required/>

        <input type="submit" value="Submit"/>

      </form>

      <span us-spinner spinner-key="spinner-1"></span>

    </div>

    <div data-ng-show="view.isAuthenticated">
      <ui-view></ui-view>
    </div>

  </div>

</section>