<section class="row view">

  <div class="col-md-12">

    <form name="eventForm" data-ng-submit="view.submitEvent()">
      <label for="select-event">Select an event to update it:</label>
      <select id="select-event" ng-model="view.event" ng-options="event as event.title for event in view.events">
      </select>

      <label for="title">Title:</label>
      <input id="title" data-ng-model="view.event.title" type="text" required/>

      <label for="description">Description:</label>
      <text-angular id="description" data-ng-model="view.event.description" required></text-angular>

      <label for="date">Date:</label>
      <input id="date" data-ng-model="view.event.date" type="date" required>

      <label>Time:</label>
      <timepicker ng-model="view.event.date"></timepicker>

      <br/>

      <input type="submit" value="Submit"/>
      <button type="button" ng-click="view.resetForm()">Reset</button>

    </form>

    <span us-spinner spinner-key="spinner-2"></span>

  </div>

</section>