<section ng-controller="AdminViewEventsController as view" class="row view">

  <div class="col-md-12">

    <form name="eventForm" data-ng-submit="view.submitEvent()">
      <label for="title">Title:</label>
      <input id="title" data-ng-model="view.event.title" type="text" required/>

      <label for="description">Description:</label>
      <text-angular id="description" data-ng-model="view.event.description" required></text-angular>

      <label for="date">Date:</label>
      <input id="date" data-ng-model="view.event.date" type="date" required>

      <input type="submit" value="Submit"/>
      <button type="button" ng-click="view.resetForm()">Reset</button>
    </form>

  </div>

</section>